@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

:root{
    --cor-primaria:white;
    --cor-secundaria: black;
    --fonte-principal: 'League Spartan', sans-serif;
}

*{ /* reset */
    margin:0;
    padding:0;
}
h1{
  margin-bottom: auto; /* empurra o rodapé para o final */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fonte-principal);
  padding: 30px;
  text-align: center;

  min-height: 100vh;

  background-size: cover; /*cobrir tudo*/
  background-position: center;
  background-repeat: no-repeat;   /* não repetir a imagem de fundo */
  background-attachment: fixed; /*fundo fixado*/

  color: var(--cor-primaria);
    font-size: 20px;
    text-shadow:
        -1px -1px 0 var(--cor-secundaria),
         1px -1px 0 var(--cor-secundaria),
        -1px  1px 0 var(--cor-secundaria),
         1px  1px 0 var(--cor-secundaria);
}

.semaforo {
  width: 100px; /*largura do semaforo*/
  height: 260px;/*altura do semaforo*/
  background-color: var(--cor-secundaria);
  border-radius: 20px; /*borda do semaforo*/
  padding: 10px; /*margem interno*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px var(--cor-secundaria); /*sombra do semaforo*/
}

.luz {
  width: 60px;
  height: 60px;
  background-color: var(--cor-secundaria);
  border-radius: 50%; /*borda das lampadas*/
  transition: background-color 0.3s; /* transição e delay da luz para ligar em milisegundos*/
}

.botoes {
  margin-top: 30px;
  display: flex;
  gap: 10px;/*espaçamento entre botões*/
}
/*hover para mudar fundo do botão ao colocar mouse*/
.vermelho:hover{
  background-color: darkred;
}
.verde:hover{
  background-color: darkgreen;
}
.amarelo:hover{
  background-color: darkgoldenrod;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: var(--cor-primaria);
  font-family: var(--fonte-principal);
  font-weight: bold;/*tipo de fonte*/
  cursor: pointer; /*tipo de cursor ao clicar*/
}
.rodape {
    text-align: center;
    
    margin-top: auto; /* empurra o rodapé para o final */
    padding: 40px 0;
    
    font-size: 15px;
    color: var(--cor-primaria);
    text-shadow: 
        -1px -1px 0 var(--cor-secundaria),
         1px -1px 0 var(--cor-secundaria),
        -1px  1px 0 var(--cor-secundaria),
         1px  1px 0 var(--cor-secundaria);
}

.paragrafo {
    color: var(--cor-primaria);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 var(--cor-secundaria),
         1px -1px 0 var(--cor-secundaria),
        -1px  1px 0 var(--cor-secundaria),
         1px  1px 0 var(--cor-secundaria);
}



.vermelho { background-color: red; }
.amarelo  { background-color: orange; }
.verde    { background-color: green; }
.auto    { background-color: black; }


@media (max-width: 1200px){
    
    body{
        padding: 5%;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;   /* não repete a imagem de fundo */
        background-attachment: fixed;
    }
    .botoes{
      flex-direction: column;
    }
}

label {
  font-size: 16px;
  display: flex;
  color: var(--cor-primaria);
  text-align: center;
}